h1 {
    color: red;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #cc0011;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 1px 1px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 1px 1px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #befdd1;
    color: #850008;
    background-color: #79dcab;
}

.tg .tg-4eph {
    background-color: #fff849
}
