body{
    background: #e6fff3;
}

.head{
    font: 16pt monospace;
    text-align: center;
    background: #99ffcc;
    padding: 8px;
    border-bottom: 3px solid #00331a;
    border-top: 3px solid #00331a;
}

.head1 {
     font: 18pt monospace;
     font-weight: bold;
 }

.head2{
    font: 20pt monospace;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

.tb_main {
    background: #e6fff3;
    width: 100%;
    border: 0px;
}

.tb_edit {
    width: 95%;
    font: 14pt monospace;
    border-collapse:collapse;
    text-align: center;
}

.tb_edit td {
    width: 33%;
    border: 10px solid #e6fff3;
    font-weight: bold
}

.tb_edit_def {
    background-color: #004d28;
    color: #e6fff3;
}

.tb_edit_over {
    background-color: #001a0d;
    color: #e6fff3;
    cursor: pointer;
}

.tb_edit_out {
    background-color: #004d28;
    color: #e6fff3;
}

.tb_info {
    width: 92%;
    font: 12pt monospace;
    border-collapse:collapse;
}

.tb_info th {
    background: #80ffbf;
    border: 1px solid #00331a;
    text-align: center;
}

.tb_info td {
    background: #ccffe6;
    border: 1px solid #00331a;
    text-align: left;
}
